<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Visa Letter Tables</title>
  </head>
  <body>
    <div class="djangtwo">
      <div class="row">
        <div class="mt-2 col-6">
        <h1 class="text-center" >Generate Visa Documents</h1>
        </div>
        <div class="mt-3" style="margin-right: 20px;" >
        <a href="{% url 'admin:index' %}" class = ' btn btn-primary' style=" margin-bottom:20px; ">BACK TO ADMIN</a>
          </div>
      </div>
      {% if list_view %}
          <table class="table text-center">
          <thead class="thead-dark">
              <th scope="col">Visa Letter Number</th>
              <th scope="col">Date Of Letter</th>
              <th scope="col">Purpose Of Visit</th>
              <th scope="col">Routes And Places</th>
              <th scope="col">Number Of Pass</th>
              <th scope="col">Amount</th>
              <th scope="col">Passport Number</th>
              <th scope="col">Action</th>
            </thead>

            {% for acc in list_view %}
              <tr>
                <td>{{ acc.Visa_Letter_Number }}</td>
                <td>{{ acc.Date_of_letter }}</td>
                <td>{{ acc.purpose_of_visit }}</td>
                <td>{{ acc.Routes_and_Places }}</td>
                <td>{{ acc.no_passenger }}</td>
                <td>{{ acc.amount }}</td>
                <td>{{ acc.Passport_Number_1 }}</td>
                <td class="dropdown"><a href ='#' class = 'btn btn-success dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GENERATE</a>
                <!-- Dropdown -->

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton ">
                      <a class="dropdown-item" href="{% url 'gen_eng_visa' pk=acc.pk %}">Generate English visa letter</a>
                      <a class="dropdown-item" href="{% url 'gen_rus_visa' pk=acc.pk %}">Generate Russian visa letter</a>
                      <a class="dropdown-item" href="{% url 'gen_eng_voucher' pk=acc.pk %}">Generate English Voucher</a>
                      <a class="dropdown-item" href="{% url 'gen_rus_voucher' pk=acc.pk %}">Generate Russian Voucher</a>
                    </div>
                  </td>
                <!-- End of dropdown -->
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No Access Records. Table Not Created.</p>
      {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
